.App {
  text-align: center;
  padding: 1%;
}

.quiz-arena {
  border: 2px solid greenyellow;
  border-radius: 10px;
  padding: 10px;
  margin: 0 20%;
  height: 22vh;
  align-items: center;
  justify-content: center;
}

.question-count {
  font-size: 1em;
  font-style: italic;
  font-family: monospace;
  padding: 10px;
}

.question-arena {
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
  font-size: large;
  font-weight: bold;
}

.button {
  margin: 1%;
}
